#colorCountsPieChart svg {
    height: 400px;
    width: 400px;
}

.slice-clickable {
    cursor: pointer;
}

.slice:hover,
.slice-clickable:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition:
        opacity 0.2s,
        transform 0.2s;
}

#tooltip {
    /* background-color: #1f2937;
    color: #ffffff; */
    padding: 10px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    line-height: 1.4;
    font-weight: bold;
    margin: 5px auto;
    box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

article.left .color-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article.right .color-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

